.form-item-dropdown {
  @include form-item;
  transform: translateY(8px);
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  z-index: 1;

  .option-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 200px;
    width: 100%;

    .option {
      @include dropdown-option;

      .option-checkbox {
        margin-right: 16px;
        @include checkbox
      }
    }
  }

  &.hidden {
    transform: translateY(-500px);
  }
}